.profile-frame {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

.content {
    background: rgba(100, 58, 58, 0.589);
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
}